.title {
  margin-bottom: 15px;
}

.list {
  list-style-type: '\2022';
  padding-left: 30px;
  line-height: 1.7;
  font-size: 18px;
}

.list li {
  padding-left: 8px;
}

.section {
  padding: 30px 0;
  border-bottom: 2px groove #e3e3e3;
}

.movie {
  composes: section;
  display: flex;
  align-items: center;
}

.movie img {
  margin-right: 15px;
  flex-shrink: 0;
}

.info h1 {
  font-size: 30px;
}

.infoTitle,
.infoItem {
  margin-bottom: 20px;
}

.castList {
  padding-top: 25px;
  padding-left: 25px;
  list-style: none;
}

.castItem {
  margin-bottom: 30px;
}

.castName {
  margin-left: -10px;
  margin-bottom: 5px;
}

:global(.btn) {
  margin-right: 15px;
  padding: 5px 10px;
  border: 1px #eeeeee solid;
  border-radius: 7px;
  text-transform: capitalize;
  font-size: 18px;
  background-color: #fff;
}

:global(.btn):hover {
  color: #fff;
  background-color: mediumblue;
}
